<!DOCTYPE html>
<html>

<head>
  <%- include ./partials/head.ejs %>
</head>

<body>
  <h1><%= recipe.recipe_name %></h1>
  <article class="ingredients">

  </article>

  <article class="directions">

  </article>

  <h1>All recipes</h1>
<% recipes.forEach(category => { %>
  <div class='recipe-list-item'>
    <h3><%= category[recipe_name]%></h3>
    <form method="POST" action="/recipes">
        <input type="hidden" name="category[recipe_name]" value="<%= recipe.name %>">
        <input type="hidden" name="recipe[rating]" value="<%= recipe.rating %>">
        <input type="hidden" name="recipe[id]" value="<%= recipe.id %>">
        <button>save</button>
    </form>
  </div>
<% }) %>

  <div class="comments">
    <form method="POST" action="/recipes">
      <div>
        <textarea name="markdown" placeholder="Enter markdown here" rows="20" cols="50"></textarea>
      </div>
      <div>
        <button id="submit" type="submit">Submit Markdown</button>
      </div>
    </form>
    <%- content %>
  </div>

</body>
<html>
